<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color:rgb(0, 0, 0)">Please Wait. </p>  
</ngx-spinner> 
<button class="btn btn-success" routerLink="/data/data-create">Add Data</button>
  <br>
  <br/>
<table class="table table-striped table-bordered table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Semester</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let std of student">
      <td>{{std.id}}</td>
      <td>{{std.name}}</td>
      <td>{{std.semester}}</td>
      <td><button class="btn btn-primary" routerLink="/data/data-edit/{{std.id}}" roterLinkActive="active">Edit</button></td>
      <td><button class="btn btn-danger" (click)="deleteData(std.id)">Delete</button></td>
    </tr>
    </tbody>
  </table>